{
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-shadow": "off",
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "@typescript-eslint/no-shadow": [
      "error"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "semi": "off",
    "@typescript-eslint/semi": [
      "error"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "@typescript-eslint/comma-dangle": [
      "off"
    ],
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "@next/next/no-html-link-for-pages": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}