.background {
    background-color: grey;
    border-radius: 16px;
}
.technologyItem {
    padding: 8px;

    &:hover {
        background-color: blue;
        cursor: pointer;
        transition: 0.3s;
    }
}