.background {
    background-color: grey;
    border-radius: 16px;
    padding: 16px;
}

.technologyList {
    display: flex;
    flex-wrap: wrap;
}

.technologyItem {
    padding: 8px;

    &:hover {
        background-color: royalblue;
        cursor: pointer;
        transition: 0.3s;
    }
}

.selected {
    background-color: green;
}