.background {
    background-color: grey;
    border-radius: 16px;
    padding: 16px;
}

.technologyList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.technologyItem {
    padding: 8px;
    &:hover {
        background-color: royalblue;
        cursor: pointer;
        transition: 0.3s;
    }
}

.selected {
    background-color: green;
}

.label {
    margin-bottom: 8px;
}

.description {
    min-height: 48px;
}