.technologyList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.technologyItem {
    width: 60px;
    height: 60px;
    padding: 8px;
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: royalblue;
            cursor: pointer;
            transition: 0.3s;
        }
    }
}

.selected {
    border: 3px solid white;
    padding: 10px;
    transition: 0.5s;
}

.label {
    margin-bottom: 8px;
}

.description {
    min-height: 56px;
}