
.container {
    position: sticky;
    top: 0;
    z-Index: 100;
    max-width: 1024px;
    margin: 16px;
    margin: 0 auto;
    background-color: #212529;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 8px 16px 8px 16px
}

.icon,
.navItem {
    cursor: pointer
}

.navContainer {
    display: flex;
    gap: 24px;
}