  .accordion {
      list-style: none;  
  }


  .accordionItem {
      border-top: 1px solid #9f9f9f;
  }

  .button {
    border: none;
    font-size: 16px;
    text-align: left;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
  }

  .content {
      padding: 20px;
  }

  .contentWrapper {
      height: 0;
      overflow: hidden;
      transition: height ease 0.5s;
  }